body {
  display: block;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 100%;
}

.headersection {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position:fixed;
  align-items: center;
}

nav {
  display: block;
  text-align: right;
  flex-grow: 1;
  }

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

.mainsection {
  display: block;
  width: 1200px;
  margin: auto;
}

#ourmission {
  background-image: url(/home/huari/Documents/projects/teacozy/css/resources/images/img-mission-background.jpg);
  height: 700px;
  padding-top: 70px;
}

.flexcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ourmissioncontent {
  display: block;
  width: 100%;
}

h2 {
  display: block;
  font-weight: bold;
}

h4 {
  display: block;
  font-weight: bold;
}

/* Tea of the month section */

#teaofthemonth {
display: block;
width: 1000px;
height: 700px;
margin: auto;
padding-top: 70px;
}

.item {
  display: block;
  padding: 10px;
  margin: 5px;
}

.item img {
  height: 200px;
  width: 300px;
}
